<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="ConnectionString2" value="user id=spcweb;data source=dcl;password=wssetup;Min Pool Size=40;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2;Max Pool Size=60;Validate Connection = true"/>-->
    <!-- Produccion-->
    <add key="ConnectionString" value="user id=SPCWEB;data source=csirpt;password=SPCWEB;Min Pool Size=1;Connection Lifetime=240;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=1;Max Pool Size=10"/>
    <add key="ConnectionStringDCLAM" value="user id=dclwebuser;data source=csirpt;password=idesetup;Min Pool Size=1;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=1; Decr Pool Size=1;Max Pool Size=20;Validate Connection = false"/>
    <add key="ConnectionStringCSIHM" value="user id=csibrowuser;data source=csihm;password=idesetup;Min Pool Size=2;Connection Lifetime=240;Connection Timeout=60;Incr Pool Size=2; Decr Pool Size=1;Max Pool Size=5;Validate Connection = false"/>
    <!-- Development -->
    <add key="ConnectionStringDevelopment" value="user id=SPCADM;data source=csipre.world;password=SPCADMDEV;Min Pool Size=2;Connection Lifetime=240;Connection Timeout=120;Incr Pool Size=1; Decr Pool Size=1;Max Pool Size=5"/>
    <!--<add key="ConnectionString" value="user id=spcadm;data source=csipre.world;password=spcadmdev"/>-->
    <!--<add key="ConnectionStringDCLAM" value="user id=dcladm;data source=csipre.world;password=dcladmpre"/>-->
    <add key="AreasConnString" value="1|ConnectionString;2|ConnectionStringDCLAM;3|ConnectionStringCSIHM;4|ConnectionStringDevelopment"/>
    <add key="smtp_from" value="fbc-eeesender@foxconn.com"/>
    <add key="smtp_server" value="10.12.3.20"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>